.section {
  width: 100%;
  height: 100vh;
  position: relative; /* Permite posicionar elementos hijos absolutamente */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .section {
    min-height: auto;
    height: auto;
    padding: 40px 0;
  }

  img {
    min-height: 0; /* Cambiado para evitar espacio blanco */
    height: auto;
  }

  .content {
    position: static;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0; /* Agregado para asegurar no hay margen */
  }
}
