.text {
  background-color: #dcfce7;
  color: #28a745;
  border-radius: 999px;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: bold;
  cursor: default;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}

.integer {
  background-color: #cfe2fa;
  color: #1e40af;
  border-radius: 999px;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: bold;
  cursor: default;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}

.timestamp {
  background-color: #ebd9ff;
  color: #6b21a8;
  border-radius: 999px;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: bold;
  cursor: default;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
}

.datetime {
  background-color: #ffedd5;
  color: #b43412;
  border-radius: 999px;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: bold;
  cursor: default;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
}

.default {
  background-color: #c9c8cc;
  color: #3f3e40;
  border-radius: 999px;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: bold;
  cursor: default;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
}

.table-name-text {
  font-weight: bold;
  font-size: large;
  color: #333;
  text-transform: uppercase;
}

.table-name-container {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.fields-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: #f0f0f0;
}

.field-container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  background-color: #f9f9f9; /* Light background for contrast */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.total-text {
  font-size: 1rem;
  color: #555;
  text-align: right;
  margin-top: 10px;
}
