/* Reseteo global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Incluye padding y border en el ancho */
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

.view {
  overflow-y: auto;
}

.input-textarea {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.footer-text {
  color: #f0f0f0;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 30px;
}

.subtitle {
  color: #f0f0f0;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 30px;
}

.get-started-button {
  margin-top: 100px;
}

.section-a-box {
  height: 100%;
}

.tabs-list {
  display: flex; 
  flex-direction: column; 
  height: 100%; 
}

.tabs-content-container-upload {
  flex: 1; /* Esto hace que el contenedor crezca para ocupar todo el espacio disponible */
}

.tabs-content-container-schema {
  flex: 1; /* Esto hace que el contenedor crezca para ocupar todo el espacio disponible */
  overflow: auto; /* Agrega un scroll si el contenido es más grande que el contenedor */
}